.summary {
    margin: auto;
    width: 50%;
    border: 5px solid rgb(186, 186, 186);
    margin-top: 30px;
    padding: 40px;
    border-radius: 10px;
}

.title-container {
    font-size: 3em; 
    color: rgb(122, 122, 203);  
}

.content-container {
    margin-top: 30px;
    margin-right: 20px;

    position: relative;
    float: right;
}

.spent-row-item {
    width: 100%;
    margin-bottom: 10px;    
}

.spent-container {
    font-size: 1.3rem;
}

.spent-container div{
    margin-top: 10px;
}
input {
    font-family: Arial;
    font-size: 0.9em;
    border-radius: 5px;
}

a {
    text-decoration: none;
    color: blue;
}